* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --orange: #f2c14e;
  --winning-blocks: #f7f7ae;
}

body {
  color: var(--orange);
  font-family: "Finger Paint", cursive;
  background-color: #afaed8;
}

.title-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10%;
  margin: 20px 0px 10px -10%;
}

.title-logo img {
  width: 60px;
  margin-left: 30px;
}

#playerText {
  color: rgba(0, 0, 0, 0.978);
  font-size: 40px;
}

.container {
  padding: 40px;
  width: 60%;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(assets/background-tic-tac-toe.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.replay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.replay-text {
  display: none;
}

.replay img {
  width: 50px;
  margin-left: -70%;
  margin-right: 20px;
  cursor: pointer;
}

#gameboard {
  width: 230px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px 40px -10%;
}

.box {
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--orange);
  font-size: 80px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  cursor: url("assets/pen.png"), auto;
}

.box:nth-child(3n) {
  border-right: none;
}
.box:nth-child(6) ~ .box {
  border-bottom: none;
}
